{% extends 'base.html' %}
{% block content %}


<form action="production_html" class="text-center mt-2">
<button type="submit" class="btn btn-info">Upload Production</button></form><br>
<form action="new_batch_html"  class="text-center">
<button type="submit" class="btn btn-info">New Batch</button></form><br>
<form action="get_html" class="text-center">
<button type="submit" class="btn btn-info">Get Details</button></form><br>
{% endblock %}


<!--
          <input class="fname" type="text" name="batch_name1" placeholder="Batch Name">
          <input type="number" name="total_chick" placeholder="Total Count">
          <input type="number" name="chick_arrived" placeholder="Chick arrived">
          <input type="date" name="arrived_date" placeholder="Arrived Date">
          <input type="time" name="arrived_time" placeholder=" Arrived Time">
          <input type="text" name="matralry" placeholder="Matralty">
          <input type="submit" name="save">

          <select>
            <option value="number" disabled selected>Number of guests</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
          <select>
            <option value="time" disabled selected>Pick up time</option>
            <option value="8">8:00am</option>
            <option value="9">9:00am</option>
            <option value="10">10:00am</option>
            <option value="12">12:00pm</option>
            <option value="1">1:00pm</option>
            <option value="3">3:00pm</option>
            <option value="6">6:00pm</option>
            <option value="7">7:00pm</option>
          </select>
        </div>
        <h3>Delivry Metod</h3>
        <div class="metod">
          <div> 
            <input type="radio" value="none" id="radioOne" name="metod" checked/>
            <label for="radioOne" class="radio">For pick up</label>
          </div>
          <div>
            <input type="radio" value="none" id="radioTwo" name="metod" />
            <label for="radioTwo" class="radio">For delivery</label>
          </div>
        </div>
        <button href="/" class="button">Submit</button>
      </form>-->


<!--<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>-->